* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color: mediumseagreen;
  --fuente: "Open Sans", sans-serif;
}

body {
  background-color: var(--color);
}

.padre{
    margin-left: 18%;
    box-shadow: -9.7vh 10vh 3vh -8.3vh  rgba(14, 65, 52, 0.479);
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
  color: white;
  font-family: var(--fuente);
  font-size: 30px;
}

.opciones {
  width: 5%;
  z-index: 1;
  margin-left: -10px ;
  background-color: rgb(2, 88, 88);
  display: inline-block;
  position: relative;
}

.opciones img{
    width: 50%;
    margin-left: 10px;
}

.opciones .primera{
    margin-top: 10%;
    margin-bottom: 600%;
}

.contenido {
  margin-left: -3px;
  width: 70%;
  height: 77.6%;
  background-color: gainsboro;
  display: inline-block;
  position: absolute;
}

.barra{
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
}
.barra>p{
  padding: 0px 37px;
  font-family: var(--fuente);
  margin-top: 20px;
  font-weight: bold;
  color: rgb(2, 88, 88);
  font-size: 20px;
}

.barra img{
    width: 20%;
    margin-top: 20px;
    margin-left: 75px;
}

.barra .verde {
  color: var(--color);
  font-size: 20px;
  margin-left: -20px;
  margin-top: 20px;
}

.box{
    width: 50%;
    height: 80%;
    margin-left: 60px;
    margin-top: 20px;
    float: left;
    background-position: center;
}

.fondo{
     width: 100%;
     height: 98%;
}

.conten{
    position: absolute;
    color:white;
    margin-top: 100px;
    width: 40%;
    height: 50%;
    margin-left: 30PX;
    font-family: var(--fuente);
    transform: translate(6%, -100%);
}

.conten .unico{
  color: var(--color);
}

.opacidad{
     width: 50%;
     height: 79%;
     margin-top: 100px;
     background-color: rgba(2, 88, 88, 0.534);
     position: absolute;
     transform: translate(0%, -118%);

}

.boton1{
  margin-top: 2px;
  background-color: var(--color);
  width: 40%;
  height: 12%;
  border-radius: 30px;
  color: white;
  border: none;
}

.boton1 img{
  width: 10%;
}

.boton2{
  margin-top: 2px;
  background-color: var(--color);
  width: 40%;
  height: 12%;
  background-color: rgba(2, 88, 88, 0);
  border-radius: 30px;
  border: solid var(--color);
  color: var(--color);
}

.boton2 img{
  width: 10%;
}


.formulario{
    width: 40%;
    height: 78.6%;
    margin-top: 20px;
    float: left;
    background-color: white;
    background-position: center;
    box-shadow: -0.2vh 0.8vh 1vh 2vh rgba(18, 19, 19, 0.062);;
}

.formulario h1{
  text-align: center;
  color: var(--color);
  font-family: var(--fuente);
  margin-top:20px;
  margin-bottom: 10px;
}

.row .col{
  padding: 4px 30px;
  display: inline-block;
}

.titulo {
  font-family: var(--fuente);
  margin-bottom: 5px;
  color: gray;
}

.entrada{
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-family: var(--fuente);
  color: grey;
  background-color: rgba(202, 202, 202, 0.541);
  border-radius: 20px;
  margin-bottom: 15px;

}

.entrada_icono{
  width: 200px;
  height: 40px;
  font-family: var(--fuente);
  color: grey;
  background-color: rgba(202, 202, 202, 0.541);
  border-radius: 20px;
  
}

.entrada_icono img{
  width: 12%;
  line-height: center;
}

.collargo .entrada{
  padding: 4px 30px;
  width: 460px;
  margin-left: 30px;
  margin-bottom: 15px;
}

.collargo .titulo{
    margin-left: 30px;
}

.boton3{
  margin-top: 30px;
  background-color: var(--color);
  width: 40%;
  height: 12%;
  color: white;
  border-radius: 30px;
  border: none;
  margin-left: 30%;
}

.boton3 img{
  width: 10%;

}