*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body{
    background-color:mediumseagreen;
 }

 h2{
    text-align: center;
    margin-top: 50px;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
 }

.opciones{
    margin-bottom: 30px 80px;
    width: 60px;
    height: 450px;
    background-color:rgb(2, 88, 88);
    display: inline-block;
}

.contenido{
    margin-top: 30px -0px;
    width: 800px;
    height: 450px;
    background-color: whitesmoke;
    display: inline-block;
}